<div id="recorder"></div>
 <div>
  <a href="javascript:record()"  id="record">Record</a>
  <a href="javascript:play()" id="play">Play</a> 
  <a href="javascript:stop()" id="stop">Stop</a>
  <a href="javascript:upload()" id="upload">Upload (faked)</a>
</div>

<span id="time"></span>